In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [4]:
dataset = pd.read_csv('groceries.csv', header = None)

In [5]:
dataset.head()

        0               1                    2   ...       30       31       32
0  Item(s)          Item 1               Item 2  ...  Item 30  Item 31  Item 32
1        4    citrus fruit  semi-finished bread  ...      NaN      NaN      NaN
2        3  tropical fruit               yogurt  ...      NaN      NaN      NaN
3        1      whole milk                  NaN  ...      NaN      NaN      NaN
4        4       pip fruit               yogurt  ...      NaN      NaN      NaN

[5 rows x 33 columns]

In [7]:
update_dataset = dataset.drop([0])

In [8]:
update_dataset.head()

  0                 1                    2               3   ...   29   30   31   32
1  4      citrus fruit  semi-finished bread       margarine  ...  NaN  NaN  NaN  NaN
2  3    tropical fruit               yogurt          coffee  ...  NaN  NaN  NaN  NaN
3  1        whole milk                  NaN             NaN  ...  NaN  NaN  NaN  NaN
4  4         pip fruit               yogurt    cream cheese  ...  NaN  NaN  NaN  NaN
5  4  other vegetables           whole milk  condensed milk  ...  NaN  NaN  NaN  NaN

[5 rows x 33 columns]

In [9]:
transactions = dataset.iloc[:, :].astype(str).values.tolist()

In [10]:
rules = apriori(transactions, min_support = 0.002, min_confidence = 0.8, min_lift = 3, min_length = 2)

In [11]:
results = list(rules)

In [12]:
listed_rules = []

for i in range(0, len(results)):
    listed_rules.append('Rule: ' + str(list(results[i][0])[0]) +
                        ' -> ' + str(list(results[i][0])[1]) +
                        ' S: ' + str(round(results[i].support, 4)) +
                        ' C: ' + str(round(results[i][2][0].confidence, 4)) +
                        ' L: ' + str(round(results[i][2][0].lift, 4)))

In [13]:
listed_rules

['Rule: 12 -> sausage S: 0.0023 C: 0.8214 L: 3.2151',
 'Rule: hamburger meat -> whole milk S: 0.0025 C: 0.8065 L: 3.1565',
 'Rule: herbs -> whole milk S: 0.0023 C: 0.8214 L: 3.2151',
 'Rule: 12 -> sausage S: 0.0023 C: 0.8214 L: 3.2151',
 'Rule: whole milk -> other vegetables S: 0.0022 C: 0.8462 L: 3.3119',
 'Rule: domestic eggs -> other vegetables S: 0.0028 C: 0.8235 L: 3.2233',
 'Rule: hamburger meat -> whole milk S: 0.0025 C: 0.8065 L: 3.1565',
 'Rule: herbs -> whole milk S: 0.0023 C: 0.8214 L: 3.2151',
 'Rule: butter -> other vegetables S: 0.0022 C: 0.8462 L: 3.3119',
 'Rule: root vegetables -> other vegetables S: 0.0032 C: 0.8857 L: 4.578',
 'Rule: root vegetables -> other vegetables S: 0.0023 C: 0.8214 L: 3.2151',
 'Rule: other vegetables -> curd S: 0.0027 C: 0.8182 L: 3.2024',
 'Rule: root vegetables -> other vegetables S: 0.002 C: 0.8333 L: 3.2617',
 'Rule: root vegetables -> tropical fruit S: 0.0022 C: 0.8148 L: 3.1892',
 'Rule: root vegetables -> other vegetables S: 0.0031 C: 0.8824 L: 4.5606',
 'Rule: root vegetables -> other vegetables S: 0.0022 C: 0.8148 L: 3.1892',
 'Rule: root vegetables -> other vegetables S: 0.002 C: 0.8333 L: 3.2617',
 'Rule: root vegetables -> tropical fruit S: 0.0021 C: 0.8077 L: 3.1613']